<div class="flex-container" *ngIf=isWatchMode()>
  觀戰模式下不能使用此功能！
</div>
<div *ngIf=!isWatchMode()>
<label>
  <div class="drop-zone">
    <div>
      <i class="material-icons large-font">add_photo_alternate</i>
    </div>
    <div>將圖片拖曳至此處</div>
    <div class="small-font">或是點擊這裡選擇檔案</div>
    <input type="file" style="display: none;" (change)="handleFileSelect($event)" multiple accept="image/*,audio/*,application/zip"/>
    <div class="small-font">
      <br>１份檔案最多2MB</div>
  </div>
</label>
<div>
  或使用外部連結：<input type="text" [(ngModel)]="uploadImgUrl" placeholder="圖片網址"> <button (click)="uploadByUrl()">上傳</button>
</div>
</div>
<div id="file-list">
  <span *ngFor="let file of fileStorageService.images" class="image">
    <img *ngIf="0 < file.url.length" [src]="file.url | safe: 'resourceUrl'" [alt]="file.name" height="120" (click)="onSelectedFile(file)" (error)="deleteErrorFile(file)">
    <img *ngIf="file.url.length <= 0" src="assets/images/loading.gif" alt="{{file.name}}">
  </span>
</div>
