<button (click)="toggleEditMode()" *ngIf=!isWatchMode()>切換編輯模式</button>
<ng-container [ngSwitch]="tabletopObject.aliasName" *ngIf=!isWatchMode()>
  <ng-container *ngSwitchCase="'numberResource'">
  </ng-container>
  <ng-container *ngSwitchCase="'card'">
    <button (click)="openModal('front')">變更表面的圖片</button>
    <button (click)="openModal('back')">變更背面的圖片</button>
  </ng-container>
  <ng-container *ngSwitchCase="'card-stack'">
  </ng-container>
  <ng-container *ngSwitchCase="'terrain'">
    <button (click)="openModal('floor')">變更頂部的圖片</button>
    <button (click)="openModal('wall')">變更側面的圖片</button>
  </ng-container>
  <ng-container *ngSwitchCase="'dice-symbol'">
    <button (click)="openModal(tabletopObject['face'])" [disabled]="!tabletopObject['isVisible']">變更骰面的圖片</button>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <button (click)="openModal('imageIdentifier', true)">變更圖片</button>
  </ng-container>
</ng-container>
<button (click)="saveToXML()">儲存</button>
<ng-container *ngIf="tabletopObject.aliasName === 'character' && !isWatchMode()">
  移動至
  <select *ngIf="tabletopObject" (change)="setLocation($event.target.value)" [ngModel]="tabletopObject.location.name">
    <option value="table">遊戲桌</option>
    <option value="common">公共倉庫</option>
    <option value="{{networkService.peerId}}">個人倉庫</option>
    <option value="graveyard">墓地</option>
  </select>
</ng-container>
<div *ngIf="tabletopObject" class="flex-container">
  <div *ngIf="0 < tabletopObject.imageFile?.url.length" class="box main-image-box">
    <img class="main-image" [src]="tabletopObject.imageFile.url | safe: 'resourceUrl'" [alt]="tabletopObject.imageFile.name"
    />
  </div>
  <ng-container *ngIf="tabletopObject.commonDataElement">
    <div class="flex-item">
      <div class="table">
        <div class="table-row" game-data-element [gameDataElement]="tabletopObject.commonDataElement" [isTagLocked]="true"></div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="tabletopObject.detailDataElement">
    <div class="flex-item" *ngFor="let childElement of tabletopObject.detailDataElement.children">
      <div class="table">
        <div class="table-row" game-data-element [gameDataElement]="childElement" [isEdit]="isEdit"></div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="isEdit">
    <div class="flex-item">
      <button style="width:100%; color: #555;" (click)="addDataElement()">追加新的項目</button>
    </div>
  </ng-container>
</div>