<div *ngIf="myPeer">
  <button (click)="changeIcon()">變更頭像</button>
  <div *ngIf="myPeer.image" class="image cover" [style.background-image]="'url(' + myPeer.image.url + ')' | safe: 'style' "
    (click)="changeIcon()">
    <!--<img *ngIf="myPeer.image" [src]="myPeer.image.url | safe: 'resourceUrl'" />-->
  </div>
  <span>你的暱稱: <input [(ngModel)]="myPeer.name"  placeholder="暱稱" (change)="saveNickname($event.target.value)"/></span>
</div>
<div>
  <span>你的ID: <span *ngIf="networkService.isOpen" style="font-weight: bold;">{{networkService.peerContext.id}}</span>
  <span *ngIf="!networkService.isOpen" style="font-weight: bold;">???</span>
  </span>
  <!--<button (click)="test()">手動儲存LS</button>
  <button (click)="test2()">清localStorage</button>-->
</div>
<!--<div>host ID:{{networkService.hostPeerID}}</div>-->
<ng-container *ngIf="18 < networkService.peerId.length">
  <hr/>
  <div>
    <span>房間名: <span *ngIf="networkService.isOpen" style="font-weight: bold;">{{networkService.peerContext.roomName}}/{{networkService.peerContext.room}}</span></span>
  </div>
  <div>
    <span>密碼: <span *ngIf="networkService.isOpen && !isWatchMode()" style="font-weight: bold;">{{networkService.peerContext.password}}</span><span *ngIf="isWatchMode()">(觀戰中)</span></span>
  </div>
</ng-container>
<hr/>
<div *ngFor="let conn of networkService.peerContexts">
  <div>
    <span *ngIf="!conn.isOpen">[連線中]</span>
    <span>其他参加者：{{conn.id}} [{{findPeerName(conn.fullstring)}}] {{ conn.isWatch? "(觀戰)": "" }}</span>
  </div>
</div>
<div>
  <ng-container *ngIf="networkService.peerId.length <= 18">
    <input [(ngModel)]="targetPeerId" placeholder="連線對象的ID" name="targetPeerId" />
    <button (click)="connectPeer()" [disabled]="!networkService.isOpen">私人連線</button><br>
  </ng-container>
  <button *ngIf="networkService.peerIds.length <= 1" (click)="showLobby()" [disabled]="!networkService.isOpen">顯示大廳（房間一覽）</button>
</div>
<div><span style="font-size: 12px;">{{help}}</span></div>
<ng-container *ngIf="networkService.peerId.length <= 18">
  <div style="font-size: 12px;" *ngIf="networkService.peerContexts.length < 1">※若要使用私人連線，請透過Udonarium以外的平台互相共享彼此的ID。</div>
  <div style="font-size: 12px;" *ngIf="networkService.peerContexts.length < 1">※若想自己確認操作的話，可以考慮打開兩個瀏覽器進行測試。</div>
</ng-container>
<ng-container *ngIf="18 < networkService.peerId.length">
  <div style="font-size: 12px;">※當你使用房間功能時，你將無法使用私人連線的功能。</div>
</ng-container>
