<div id="app-table-layer" style="position: absolute; width: 100%; height: 100%; overflow: hidden;">
  <game-table></game-table>
</div>
<ui-panel [top]="0" [left]="0" [width]="100" [height]="networkService.isSelfWatchMode()? 200: 500" [title]="'功能表'">
  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active">
          <div class="toggle-group">
            <input type="checkbox" name="on-off-switch" id="on-off-switch" tabindex="1" style="display:none;" (change)="changeAutoSave($event.target)" [(ngModel)]="autoSave">
            <label for="on-off-switch">
            </label>
            <div class="onoffswitch pull-right" aria-hidden="true">
              <div class="onoffswitch-label">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
              </div>
            </div>
          </div>
          <div>自動儲存</div>
        </a>
      </li>
      <li (click)="open('PeerMenuComponent')">
        <a routerLink="/" routerLinkActive="active">
          <div><i class="material-icons icon-size">people</i></div>
          <div>連線</div>
        </a>
      </li>
      <li (click)="open('ChatWindowComponent')">
        <a routerLink="/" routerLinkActive="active">
          <div><i class="material-icons icon-size">speaker_notes</i></div>
          <div>聊天視窗</div>
        </a>
      </li>
      <li (click)="open('GameTableSettingComponent')" *ngIf="!networkService.isSelfWatchMode()">
        <a routerLink="/" routerLinkActive="active">
          <div><i class="material-icons icon-size">layers</i></div>
          <div>遊戲桌設定</div>
        </a>
      </li>
      <li (click)="open('FileStorageComponent')" *ngIf="!networkService.isSelfWatchMode()">
        <a routerLink="/" routerLinkActive="active">
          <div><i class="material-icons icon-size">photo_library</i></div>
          <div>圖像</div>
        </a>
      </li>
      <li (click)="open('JukeboxComponent')" *ngIf="!networkService.isSelfWatchMode()">
        <a routerLink="/" routerLinkActive="active">
          <div><i class="material-icons">queue_music</i></div>
          <div>音樂</div>
        </a>
      </li>
      <li (click)="open('GameCharacterGeneratorComponent')" *ngIf="!networkService.isSelfWatchMode()">
        <a routerLink="/" routerLinkActive="active">
          <div><i class="material-icons icon-size">nature_people</i></div>
          <div>角色創建</div>
        </a>
      </li>
      <li (click)="open('GameObjectInventoryComponent')" *ngIf="!networkService.isSelfWatchMode()">
        <a routerLink="/" routerLinkActive="active">
          <div><i class="material-icons icon-size">folder_shared</i></div>
          <div>管理倉庫</div>
        </a>
      </li>
      <!--
        <li (click)="open('GameObjectInventoryComponent')">
          <a routerLink="/" routerLinkActive="active">
            <div><i class="material-icons icon-size">folder</i></div>
            <div>あなたのインベントリ</div>
          </a>
        </li>
        <li>
          <a routerLink="/" routerLinkActive="active">
            <div><i class="material-icons">local_florist</i></div>
            <div>墓場</div>
          </a>
        </li>
         -->
      <li (click)="save()">
        <a routerLink="/" routerLinkActive="active">
          <div><i class="material-icons">sd_storage</i></div>
          <div>儲存房間</div>
        </a>
      </li>
    </ul>
  </nav>
</ui-panel>
<div #modalLayer></div>
<network-indicator class="networkIndicator"></network-indicator>
