nav ul {
    list-style:none;
    padding: 0px;
    margin: 0px;
  /*
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(30, 30, 30, 0.8);
  */
}

nav ul > li {
  text-align: center;
  padding: 5px;
  color: #CCC;
  color: #444;

  cursor: -moz-pointer;
  cursor: -webkit-pointer;
  cursor: pointer;
}

nav ul > li:hover {
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
}
nav ul > li > a {
  height: 128px;
  width: 128px;
  font-size: 8px;
  user-select: none;
}
nav ul > li > a > label {
  cursor: -moz-pointer;
  cursor: -webkit-pointer;
  cursor: pointer;
}
nav ul i {
  font-size: 24px;
}
nav ul a, nav ul a:hover, nav ul a:active, nav ul a:visited {
  text-decoration: none;
}

.icon-size {
  font-size: 40px;
}

.side-menu {
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  overflow: auto;
  position: absolute;
  color: #CCC;
  background-color: rgba(30, 30, 30, 0.8);
  border:solid 1px #999;
  padding: 0px;
  height: 100%;
  width: 300px;
}

.networkIndicator {
  display: none;
  z-index: 9999;
  pointer-events: none;
  position: absolute;
  top: 3px;
  right: 3px;
  height: 30px;
  width: 30px;
}

/* ON/OFF Switch */
.onoffswitch {
  position: relative;
  width: 55px;
  display: inline-block;
  font-size: 80%;
}
.onoffswitch .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 90%);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin: 0;
}
.onoffswitch .onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.15s ease-in-out;
  -o-transition: margin 0.15s ease-in-out;
  -moz-transition: margin 0.15s ease-in-out;
  transition: margin 0.15s ease-in-out;
}
.onoffswitch .onoffswitch-inner:before,
.onoffswitch .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 18px;
  padding: 0;
  line-height: 18px;
  font-size: 80%;
  color: hsl(0, 0%, 100%);
  font-weight: normal;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffswitch .onoffswitch-inner:before {
  content: "ON";
  padding-left: 0px;
  background-color: #af0000;
  color: hsl(0, 0%, 100%);
}
.onoffswitch .onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #afafaf;
  color: hsl(0, 0%, 24%);
  text-align: right;
}
.onoffswitch .onoffswitch-switch {
  width: 16px;
  height: 16px;
  margin: 0;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 35px;
  -webkit-transition: right 0.15s ease-in-out;
  -o-transition: right 0.15s ease-in-out;
  -moz-transition: right 0.15s ease-in-out;
  transition: right 0.15s ease-in-out;
}
.toggle-group {
  position: relative;
  height: 20px;
  top: 50%;
  overflow: hidden;
}
.toggle-group input[type=checkbox] {
  position: absolute;
  left: 10px;
}
.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-switch {
  right: 1px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.toggle-group input[type=checkbox]:focus ~ .onoffswitch {
  outline: thin dotted #333;
  outline: 0;
}
.toggle-group label {
  position: absolute;
  cursor: pointer;
  padding-left: 65px;
  display: inline-block;
  text-align: left;
  line-height: 18px;
  width: 100%;
  z-index: 1;
  height: 18px;
  font-weight: 200;
}
/* ==== Accessibility ===== */
.aural {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.aural:focus {
  clip: rect(0, 0, 0, 0);
  font-size: 1em;
  height: auto;
  outline: thin dotted;
  position: static !important;
  width: auto;
  overflow: visible;
}
