<div *ngIf="!isConnected;else other_content">
  <div>房間名稱： <input class="input" (input)="calcPeerId($event.target.value, password)" [(ngModel)]="roomName" required minlength="1" maxlength="128" #roomNameValidation="ngModel"
      placeholder="房間名稱為必要項目" /></div>
  <div>密碼： <input class="input" (input)="calcPeerId(roomName, $event.target.value)" [(ngModel)]="password" maxlength="12" #passwordValidation="ngModel" placeholder="空白則不需要密碼"
    /></div>
  <div><input type="checkbox" [(ngModel)]="allowWatch" />開放觀戰</div>
  <hr/>
  <div *ngIf="roomNameValidation.errors && (roomNameValidation.dirty || roomNameValidation.touched)">
    <div [hidden]="!roomNameValidation.errors.required">
      房間名稱為必要項目。
    </div>
    <div [hidden]="!roomNameValidation.errors.minlength">
      房間名稱為必要項目。
    </div>
    <div [hidden]="!roomNameValidation.errors.maxlength">
      房間名稱的長度必須在128個字元內。
    </div>
  </div>
  <div *ngIf="passwordValidation.errors && (passwordValidation.dirty || passwordValidation.touched)">
    <div [hidden]="!passwordValidation.errors.maxlength">
      密碼的長度必須在12個字元內。
    </div>
  </div>
  <div *ngIf="!validateLength">
    ルームの名前とパスワードの合計が長すぎるようです。どちらかを少し短くしてみてください。
  </div>
  <div>
    <button [disabled]="!roomNameValidation.valid || !passwordValidation.valid || !validateLength" (click)="createRoom()">創建新的房間</button>
  </div>
</div>
<div><span style="font-size: 12px;">※建成的房間將會在房內人數歸零時自動消除。若希望將房間的狀態帶到下次遊戲中，請務必使用「儲存房間」功能。</span></div>
<ng-template #other_content>
  <span style="font-size: 12px;">當你正與其他玩家連線時，你將無法創建房間。<br>若希望加入其他的房間，請先斷開與其他玩家的連線。<br>（※重新整理頁面即會中斷連線。）</span>
</ng-template>
